.book-collection {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.book-card {
  width: 150px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  text-align: center;
  background-color: indianred;
  border-radius: 10px;
}

.book-card img {
  width: 100%;
  height: auto;
}

.nav-link {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background-color: #006570;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.nav-link.active {
  background-color: darkblue;
}

form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

form div {
  margin-bottom: 10px;
}

form label {
  margin-bottom: 5px;
  font-weight: bold;
}

form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}
