.book-collection {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.book-card {
  width: 150px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  text-align: center;
  background-color: indianred;
  border-radius: 10px;
}

.book-card img {
  width: 100%;
  height: auto;
}

.nav-link {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background-color: #006570;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.nav-link.active {
  background-color: darkblue;
}
.form{
  align-items: center;
}